/* Colors */

:root
{
  --main-background-color: #5875a0;
  --main-border-color: black;
  --main-box-shadow: rgba(0, 0, 0, .6);
  --main-color: white;

  --secondary-background-color: #eff1f6;
  --secondary-color: black;

  --tertiary-background-color: white;

  --accent-color: #8e0028;

  --success-color: #42d29d;

  --button-highlight-color: #303031;

  --user-score-color: #fb6436;
}

@media (prefers-color-scheme: dark) {
  :root
  {
    --main-background-color: #1B2431;
    --main-border-color: black;
    --main-box-shadow: rgba(0, 0, 0, .6);
    --main-color: #a6b4c3;

    --secondary-background-color: #151515;
    --secondary-color: #c4c4c4;

    --tertiary-background-color: black;

    --accent-color: #7f0024;
    --button-highlight-color: #303031;

    --user-score-color: #fb6436;
  }

  .form-control::-webkit-calendar-picker-indicator
  {
    filter: invert(100%);
  }
}

html,
body
{
  background-color: var(--main-background-color) !important;
}

footer
{
  color: var(--footer-color) !important;
}

.content
{
  color: var(--row-color);
}

.navbar-custom,
.topnav.shadow-sm
{
  background-color: var(--main-background-color) !important;

  border: none;

  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.nav-link
{
  color: var(--navbar-color) !important;
}

#power-tools div
{
  color: var(--main-color) !important;
}

.dropdown-menu
{
  background-color: var(--row-background-color);
  color: var(--main-color);
}

.form-control
{
  background-color: var(--card-color);
  color: var(--row-color);
}

.form-control:focus
{
  background-color: var(--accent-color);
  color: var(--main-color);
}

#power-tools a
{
  color: var(--main-color) !important;
}

.user-holder,
.console-screen-col,
.timeline-holder,
#folding-performance-and-controls .row,
#folding-slot-controls .row,
#slots .row
{
  background-color: var(--row-background-color);
}

.card
{
  background-color: var(--card-color);
  border: none;
}

p a,
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a
{
  border-color: var(--row-color) !important;
}

#user-score
{
  color: var(--user-score-color) !important;
  font-weight: 700;
}

.production-status label
{
  background-color: var(--accent-color) !important;
  border: none;
  color: var(--main-color);
}

.input-group-text
{
  background-color: var(--accent-color);
}

a,
h2,
#pannel-team-display span,
.timeline-small span, .timeline-item-info span,
.user-holder .card span,
div.description-project,
.project-details span,
.slot-per-done,
.slot-performance-holder span,
.slot-status-tbl td,
.slot-eta-big,
#pannel-settings-display span
{
  color: var(--accent-color) !important;
}

.btn-outline-primary,
.btn-outline-info
{
  background-color: var(--card-color);
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.btn-outline-primary:hover,
.btn-outline-info:hover
{
  background-color: var(--accent-color);
  color: var(--main-color);
  border-color: var(--accent-color);
}

.timeline-alt .timeline-item:before
{
  background-color: var(--accent-color);
}

.timeline-item .text-info
{
  color: var(--main-color) !important;
}

.timeline-item .bg-info-lighten
{
  background-color: var(--accent-color) !important;
}

.dropdown-item:focus,
.dropdown-item:hover
{
  color: var(--accent-color) !important;
  background-color: var(--card-color) !important;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link
{
  background-color: var(--accent-color) !important;
  color: var(--main-color) !important;
}

.nav-pills .nav-link
{
  background-color: var(--row-background-color);
  color: var(--accent-color) !important;
}

.nav-pills .nav-link:hover
{
  background-color: var(--card-color);
}

.input-group-text,
.power-tools
{
  color: var(--main-color) !important;
}

hr
{
  border-color: var(--main-color);
}

.btn-outline-success,
.btn-outline-warning,
.btn-outline-danger,
.slot-holder,
#center-console-screen
{
  background-color: var(--card-color);
}

input[data-switch=info]:checked + label {
  background-color: #42d29d !important;
}

.btn-outline-success:hover
{
  background-color: #42d29d !important;
  color: var(--button-highlight-color) !important;
  border-color: var(--button-highlight-color) !important;
}

.btn-outline-warning:hover
{
  background-color: #f9bc0d !important;
  color: var(--button-highlight-color) !important;
  border-color: var(--button-highlight-color) !important;
}

.btn-outline-danger:hover
{
  background-color: #fa6767 !important;
  color: var(--button-highlight-color) !important;
  border-color: var(--button-highlight-color) !important;
}

.input-group select
{
  background-color: var(--card-color);
  color: var(--row-color);
}

.user-holder .card div,
.slot-eta-big span,
.project-details label,
.description > *
{
  color: var(--row-color) !important;
}

#slots .row .progress
{
  height: 18px;
  margin-top: 5px;
  border: 2px solid var(--row-color);
  background-color: var(--card-color) !important;
}

div.pu-type.description
{
  top: 20px !important;
}

.progress-bar
{
  background-image: url(http://127.0.0.1:7396/images/template/ui-progress-bg.png);
  background-repeat: repeat-x;
  background-attachment: scroll;
  background-position: 50% 50%;
  background-color: #f6a828 !important;

  border-right: 2px solid var(--row-color);
}

.jq-icon-success
{
  background-color: var(--card-color);
  color: var(--row-color);
  border-color: var(--row-color);
}

.slot-status-tbl td
{
  border-color: var(--row-color) !important;
}

.slot-status-tbl td:last-child
{
  border-right: 2px solid var(--row-color) !important;
}

.slot-status-tbl th,
td
{
  border-color: var(--row-color);
}

canvas
{
  background-color: var(--card-color);
}

/* Borders & Box Shadows */

.dropdown-menu
{
  border: 3px solid var(--card-border-color);
  border-radius: 0.6em !important;

  -moz-box-shadow: 0px 4px 8px var(--main-box-shadow);
  -webkit-box-shadow: 0px 4px 8px var(--main-box-shadow);
  box-shadow: 0px 4px 8px var(--main-box-shadow);
}

.card
{
  border-radius: 0.6em !important;
}

#center-console-screen
{
  border-radius: 0.6em !important;
}

#pannel-team-display,
#pannel-research-display,
#pannel-settings-display
{
  padding: 15px !important;
}

#center-console-screen-nav
{
  border: 3px solid var(--card-border-color);
  border-radius: 0.6em !important;
}

#center-console-screen-nav li:not(:first-child)
{
  border-left: 3px solid var(--card-border-color);
}

#center-console-screen-nav li a
{
  border-radius: 0.4em !important;
}

#center-console-screen-nav li:first-child
{
  border: none !important;
}

#center-console-screen-nav li:first-child a
{
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

#center-console-screen-nav li:not(:first-child):not(:last-child) a
{
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

#center-console-screen-nav li:last-child a
{
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.custom-select,
.input-group-text
{
  border: none;
}

.primary-top-console-row > .row
{
  border: 3px solid var(--card-border-color);
  border-radius: 0.6em;

  -moz-box-shadow: 0px 4px 8px var(--main-box-shadow);
  -webkit-box-shadow: 0px 4px 8px var(--main-box-shadow);
  box-shadow: 0px 4px 8px var(--main-box-shadow);

  margin-bottom: 15px;
}

#slots .row
{
  margin-bottom: 15px;
}

.user-holder
{
  border-left: none;
  border-radius: 0.4em;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.console-screen-col
{
  border: 3px solid var(--card-border-color);
  border-top: none;
  border-bottom: none;

  padding-bottom: 10px;
}

.timeline-holder
{
  border-right: none;
  border-radius: 0.4em;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

#folding-performance-and-controls .row
{
  border: 3px solid var(--card-border-color);
  border-radius: 0.6em;

  -moz-box-shadow: 0px 4px 8px var(--main-box-shadow);
  -webkit-box-shadow: 0px 4px 8px var(--main-box-shadow);
  box-shadow: 0px 4px 8px var(--main-box-shadow);

  margin-bottom: 27px;
  padding-bottom: 7px;
}

#folding-slot-controls .row
{
  border: 3px solid var(--card-border-color);
  border-radius: 0.6em;

  -moz-box-shadow: 0px 4px 8px var(--main-box-shadow);
  -webkit-box-shadow: 0px 4px 8px var(--main-box-shadow);
  box-shadow: 0px 4px 8px var(--main-box-shadow);

  margin-bottom: 27px;
  padding-bottom: 10px;
}

#slots .row
{
  border: 3px solid var(--card-border-color);
  border-radius: 0.6em;

  -moz-box-shadow: 0px 4px 8px var(--main-box-shadow);
  -webkit-box-shadow: 0px 4px 8px var(--main-box-shadow);
  box-shadow: 0px 4px 8px var(--main-box-shadow);
}

#folding-performance-and-controls button,
#folding-performance-and-controls label,
#user-update-btn
{
  border-radius: 0.25em !important;
}
